<!DOCTYPE HTML>

<html>

<head>
    <title>TODO</title>
    <style>
        html {
            font-family: sans-serif;
            display: inline-block;
            margin: 25px;
        }
    </style>
</head>

<body>
    <h1>Your Todo List:</h1>
        
        <form action='/complete-todo'> 

            <input type='submit' value='Complete todo'>
            
            {% for todo in todos %}

                <p><input type='checkbox'> &nbsp; {{ todo }}</p>

            {% endfor %}
        
        </form>

        <br><br>

    <form action='/create-todo' method='POST'>
        <input type='text' name='todo'>
        <input type='submit' value='Create New Todo'>
    </form>
        
</body>
</html>