<!DOCTYPE HTML>

<html>

<head>
    <title>TODO</title>
    
    <style>
        
        html {
            font-family: sans-serif;
            display: inline-block;
            margin: 25px;
        }

    </style>

</head>

<body>
    <h1>Your Todo List:</h1>

    <a href='/count-priorities'>View Priority Count</a>
            
            {% for todo in todos %}
                <form action='/complete-todo' method='POST'> 
                    <div>{{ todo }} {{ todos[todo][1] }}
                    <input type='hidden' name='todo' value='{{ todo }}'>
                    <input type='submit' value=&#10004;></div>
                </form> <br>  
            {% endfor %}

        <br><br>

    <form action='/create-todo' method='POST'>
        Todo Name: <input type='text' name='todo'><br>
        Priority Level: <input type='text' name='priority-level'>
        <input type='submit' value='Create New Todo'>
    </form>
        
</body>
</html>